### WebStorm ###
.idea/

### Node.js/Next.js ###
node_modules/
.next/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

### TypeScript ###
*.tsbuildinfo

### React ###
build/

### VS Code ###

*.code-workspace